.cover__link {
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: none;
  position: relative;

  background: url("../../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.cover__link::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2a2c2f;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}

.cover__link:hover::before {
  opacity: 0.8;
}
