.cover__subtitle {
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  margin-top: 19px;
}
@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
  }
}
