.header__logo {
  width: 142px;
  height: 42px;
  background-image: url(../../../images/header__logo.svg);
  background-size: cover;
  margin: 0;
  margin-left: 5%;
  margin-top: 5%;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
    margin-top: 26px;
    margin-left: 21px;
  }
}

@media screen and (min-width: 1024px) {
  .header__logo {
    margin-left: 47px;
    margin-top: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-left: 0;
  }
}
