.card__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 52px 0 36px 0;
  width: 100%;
  align-self: center;
  margin-left: 10px;
}

@media screen and (min-width: 621px) {
.card__header {
  padding: 56px 0 43px;

}
}
@media screen and (min-width: 768px) {
.card__header {
  padding: 56px 0 43px 0;
  justify-content: space-between;
  /* width: 98%; */
  align-self: stretch;
}
}

@media screen and (min-width: 1280px) {
.card__header {
  padding-bottom: 48px;
  padding-top: 65px;
}
}
