.place__cards {
  margin: 0;
  padding: 0px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .place__cards {
    min-width: 928px;
  }
}
@media screen and (min-width: 1280px) {
  .place__cards {
    min-width: 984px;
    margin-bottom: 88px;
  }
}
