.lead__title {
  margin: 0;
  margin-bottom: 16px;
  font-family: Inter, 'Helvetica Neue', Arial, sans-serif; ;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #FFFFFF;
  width: 288px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 404px) {
  .lead__title {
  font-size: 52px;
  line-height: 60px;
  width: 400px;
}
}
@media screen and (min-width: 768px) {
.lead__title {
font-size: 96px;
line-height: 100px;
margin-bottom: 32px;
width: 720px;
}
}

