.footer__copyright {
  margin: 14px 18px 32px 18px;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    line-height: 16px;
    margin-top: 7px;
    padding-right: 8px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__copyright {
   padding-right: 30px;
   margin-top: 4px;
  }
}
@media screen and (min-width: 1184px) {
  .footer__copyright {
    margin-right: 0;
  }
}
