.card__website {
  min-width: 310px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 34px;
  align-self: flex-end;
}
@media screen and (min-width: 682px) {
.card__website {
  width: calc(100% - 344px - 28px);
}
}
@media screen and (min-width: 1024px) {
.card__website {
  width: calc(100% - 440px - 28px);
}
}

