.card__content-text {
  /* min-width: 310px; */
  max-width: 340px;
  margin-left: 4px;
  width: 288px;
}

@media screen and (min-width: 680px) {
  .card__content-text {
    width: calc(100% - 344px - 28px);
  }
}

@media screen and (min-width: 768px) {
  .card__content-text {
    max-width: 340px;
    margin-left: 31px;
  }
}
@media screen and (min-width: 1024px) {
  .card__content-text {
    width: calc(100% - 440px - 28px);
    max-width: 446px;
  }
}

@media screen and (min-width: 1280px) {
  .card__content-text {
    max-width: 484px;
  }
}
