.card__image {
  min-width: 310px;
  min-height: 310px;
  max-width: 340px;
  max-height: 340px;
  margin: 0;
  margin-bottom: 32px;
}
@media screen and (min-width: 682px) {
  .card__image {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 682px) {
  .card__image {
    margin-top: 3px;
   margin-left: 9px;
  }
}
@media screen and (min-width: 1024px) {
  .card__image {
    min-width: 440px;
    min-height: 440px;
  }
}
@media screen and (min-width: 1280px) {
  .card__image {
    min-width: 460px;
    min-height: 460px;
    margin-left: 20px;
  }
}
