.card__title {
  min-width: 310px;
  width: 340px;
  margin: 0;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .card__title {
    font-size: 42px;
    line-height: 46px;
    width: 320px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@media screen and (min-width: 1024px) {
  .card__title {
    font-size: 72px;
    line-height: 76px;
    width: 440px;
  }
}
