.card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  align-self: center;
}

@media screen and (min-width: 680px) {
.card {
/* margin-left: 12px;
margin-right: 12px; */
}
}

@media screen and (min-width: 720px) {
.card {
margin-left: 24px;
margin-right: 24px;
}
}
