.card {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  align-self: center;
  margin: 0;
  padding-top: 49px;
  margin-bottom: 0px;
}
.card:first-child {
  padding-top: 50px;
  margin-bottom: 23px;
}
.card:last-child {
  margin-bottom: 26px;
}

@media screen and (min-width: 621px) {
  .card {
    padding-top: 56px;
  }
}
@media screen and (min-width: 720px) {
  .card {
    margin-left: 4px;
    margin-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .card {
    padding-top: 72px;
    margin-bottom: 4px;
  }
  .card:first-child {
    padding-top: 56px;
    margin-bottom: 4px;
  }
  .card:last-child {
    margin-bottom: 52px;
  }
}
@media screen and (min-width: 1024px) {
  .card {
    padding-top: 78px;
  }
  .card:first-child {
    padding-top: 65px;
    margin-bottom: 4px;
  }
  .card:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .card {
    padding-top: 76px;
    margin-bottom: 0px;
  }
}
