.cover__content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-top: 6%;
  padding-bottom: 7%;
}

@media screen and (min-width: 360px) {
  .cover__content {
    padding-top: 9%;
    padding-bottom: 9%;
  }
}@media screen and (min-width: 400px) {
  .cover__content {
    padding-top: 11%;
    padding-bottom: 11%;
  }
}
@media screen and (min-width: 450px) {
  .cover__content {
    padding-top: 15%;
    padding-bottom: 15%;
  }
}

@media screen and (min-width: 1024px) {
  .cover__content {
    padding-top: 19%;
    padding-bottom: 19.2%;
  }
}

@media screen and (min-width: 1280px) {
  .cover__content {
    padding-top: 21%;
    padding-bottom: 20.5%;
  }
}
