.intro__title {
  margin: 0;
  margin-top: 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) {
.intro__title {
  margin-top: 88px;
  font-size: 54px;
  line-height: 58px;
  width: 690px;
}
}
@media screen and (min-width: 1024px) {
.intro__title {
  margin-top: 92px;
}
}
@media screen and (min-width: 1280px) {
.intro__title {
  margin-top: 74px;
}
}
